@model string
<a href="/Home" class="logo" style="background-color: #222d32">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
        <img src="@Model" />
    </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><img src="@Model" /></span>
</a>
